@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form method="post" class="form-text">
        <label for="email" style="width:50px;margin-left:500px;margin-top:50px;display:inline-block">Email</label><br />
        <input type="text" name="email" style="border-color:royalblue;margin-top:5px;border-width:3px;border-radius:10px;width:200px;margin-left:495px;" placeholder="Email" class="text-primary" /><br /><br />
        <label for="password" style="width:50px;margin-left:500px;margin-top:10px;display:inline-block">Password</label><br />
        <input type="password" name="password" style="border-color:royalblue;margin-top:5px;border-width:3px;border-radius:10px;width:200px;margin-left:495px;" placeholder="Password" /><br /><br />
        <input type="submit" value="Login" class="btn-primary" style="text-align:center;margin-left:570px"/>
    </form>
</div>